<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/master}">

<head>
    <meta charset="UTF-8">
    <title>Lista de Mesas</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sabor Gourmet</title>
</head>

<body>
    <div class="row" layout:fragment="page-content" style="margin-top: 50px;">
        <h3>Crear nueva mesa</h3>
        <form th:action="@{/mesa/guardar}" th:object="${mesa}" method="post">
            <div>
                <label for="numero">Numero:</label>
                <input type="text" id="numero" th:field="*{numero}" required />
            </div>
            <div>
                <label for="asientos">Asientos:</label>
                <input type="number" id="asientos" th:field="*{asientos}" required />
            </div>
            <div>
                
                <label for="disponible">
                    <input type="checkbox" id="disponible" name="disponible" th:checked="*{disponible}" onchange="" />
                    <span th:text="${mesa.disponible ? 'No disponible' : 'Disponible'}"></span>
                </label>
                 
            </div><br>

            <div>
                <button type="submit" class="btn">Guardar mesa</button>
                <a th:href="@{/}" class="btn blue lighten-1">Volver</a>
            </div>
        </form>
    </div>
</body>

</html>