<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/master}">

<head>
    <meta charset="UTF-8">
    <title>Lista de reservas</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web Inicio</title>
</head>

<body>
    <div class="row" layout:fragment="page-content" style="margin-top: 50px;">
        <h3>Crear nueva reserva</h3>
        <form class="col s12" th:action="@{/reserva/guardar}" th:object="${reserva}" method="post">
            
            <div class="row">
                <div class="input-field col s12">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" th:field="*{nombre}" class="validate" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="hora">Hora:</label>
                    <input type="text" id="hora" th:field="*{hora}" class="validate" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="mesa" th:field="*{mesa}" class="browser-default" required>
                        <option value="" disabled selected>Selecciona una mesa</option>
                        <option th:each="mesaItem : ${mesas}" 
                                th:value="${mesaItem.id}" 
                                th:text="'Mesa ' + ${mesaItem.id} + (${mesaItem.disponible} ? ' - Disponible' : ' - No disponible')">
                        </option>
                    </select>
                </div>
            </div>
            <div class="input-field col s12">
                <button type="submit" class="btn">Guardar reserva</button>
                <a th:href="@{/reserva}" class="btn blue lighten-1">Volver</a>
            </div>
    </div>
    </form>
    
    </div>
    <script layout:fragment="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            M.FormSelect.init(elems);
        });
    </script>
    
    
</body>


</html>